version: '3.9'
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  auth-service:
    build: ./backend-microservices/auth-service
    environment:
      SERVER_PORT: 8080
      DB_URL: jdbc:postgresql://postgres:5432/appdb
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - postgres
      - redis
    ports:
      - "8081:8080"

  order-service:
    build: ./backend-microservices/order-service
    environment:
      SERVER_PORT: 8080
      DB_URL: jdbc:postgresql://postgres:5432/appdb
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    depends_on:
      - postgres
    ports:
      - "8082:8080"

  inventory-service:
    build: ./backend-microservices/inventory-service
    environment:
      SERVER_PORT: 8080
      DB_URL: jdbc:postgresql://postgres:5432/appdb
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
    depends_on:
      - postgres
    ports:
      - "8083:8080"

volumes:
  postgres_data:
